<div class="nav d-flex mx-auto bg-success">
    <a [routerLink]="['/dashboard']">

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi50wEbKTK3Jz-lY0_m69pAwLldgrwmIQAJw&s" alt="" height="50">
    </a>
<div>
    <ul class="list d-flex justify-content-between align-items-center gap-2">
        <li>
            <button (click)="logout()" class="btn fw-bold text-white bg-danger">Logout</button>
        </li>
        <li>
            <button (click)="profile()" class="btn fw-bold text-white bg-danger">Profile Page</button>
        </li>
        <li>
            <button (click)="editprofile()" class="btn fw-bold text-white bg-danger">Edit Profile Page</button>
        </li>
    </ul>
</div>
</div>
